img {
    width: 500px;
}

.hidden {
    display: none;   
}

.batu:hover , .gunting:hover , .kertas:hover {
    background-color: grey;
}


.player-1 {
    min-width: 600px;
    padding: 50px;
}

.computer {
    min-width: 600px;
    padding: 50px;
}

.interactive {
    min-width: 600px;
    padding: 50px;
}