@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html,body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 999;
    /* font-family: 'Bebas Neue', cursive; */
}

.first-page {
    background-image: url(./assets/main-bg.jpg);
    width: 100%;
    background-size: cover;
    color: white;
}

.first-page h1 {
    font-size: 60px;
}

.first-page h3 {
    font-size: 24px;
}

.bottom-action a {
    color: white;
    text-decoration: none;
}


.first-page .btn {
    width: 260px;
    height: 60px;
    color: black !important;
    background-color: #FFB548 !important;
    border-color: #FFB548 !important;
  }

.second-page {
    background-image: url(./assets/the-games-bg.jpg);
    background-size: cover;
}

.second-page .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-page .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.second-page .text-left {
    color: white;
}


.third-page {
    background-image: url(./assets/features.jpg);
    width: 100%;
    background-size: cover;
}

.third-page h3 {
    color: #FFB548;
}

.third-page .row {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.fourth-page {
    background-image: url(./assets/requirements.png);
    width: 100%;
    background-size: cover;
}

.sys-box {
    max-width: 800px;
}

.sys-box h1 {
 font-size: 56px;
}

.fourth-page .col { 
    height: 150px; 
}

.fourth-page .col h3 { 
    font-size: 24px;
    color: #FFB548
}
.fourth-page .col p { 
    font-size: 18px;
    color: white;
}


.fifth-page {
    background-color: black;
    background-image: url(./assets/top-score-bg.png);
    background-size: cover;
}

.fifth-page .col {
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;  
}

.fifth-page .col h1 {
    font-size:56px;
}

.fifth-page .col p {
    font-size:18px;
}

.fifth-page .card-profile  {
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;  
}

.fifth-page .card-header img {
    border-radius: 50%;
}

.fifth-page .btn {
    width: 260px; 
    height: 60px;
    font-weight: bold;
    color: black !important;
    background-color: #FFB548 !important;
    border-color: #FFB548 !important;
}

.sixth-page {
    background-color: black;
    background-image: url(./assets/top-score-bg.png);

    background-size: cover;
}

.sixth-page .col {
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;  
}

.sixth-page .btn {
    height: 60px;
    width: 260px;
    color: black !important;
    background-color: #FFB548 !important;
    border-color: #FFB548 !important;
}

.left-image {
    background: url('./assets/Rectangle\ 4.2.png');
    z-index: 88;
}

.top-footer ul li a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
}